<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>

                <div class="form-group">
                    <label for="numero">Número de porcentaje:</label>
                    <input type="text" class="form-control" id="numero" name="numero" [(ngModel)]="numero" required>
                </div>

                <button class="btn btn-info">
                    Agregar skill
                </button>
            </form>
        </div>
    </div>
</div>