<div class="row">
    <h1>Skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [titleFontSize]="'34'"
            [titleFontWeight]="'800'"
            [titleColor]="'rgb(212, 212, 212)'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#8DD2C8'"
            [innerStrokeColor]="'#56978E'"
            [animation]="true"
            [animationDuration]="800">
        </circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-3">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [title]="'CSS'"
            [titleFontSize]="'34'"
            [titleFontWeight]="'800'"
            [titleColor]="'rgb(212, 212, 212)'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#8DD2C8'"
            [innerStrokeColor]="'#56978E'"
            [animation]="true"
            [animationDuration]="800">
        </circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-3">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [title]="'JavaScript'"
            [titleFontSize]="'31'"
            [titleFontWeight]="'750'"
            [titleColor]="'rgb(212, 212, 212)'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#8DD2C8'"
            [innerStrokeColor]="'#56978E'"
            [animation]="true"
            [animationDuration]="800">
        </circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-3">
        <circle-progress
            [percent]="76"
            [radius]="100"
            [title]="'Angular'"
            [titleFontSize]="'34'"
            [titleFontWeight]="'800'"
            [titleColor]="'rgb(212, 212, 212)'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#8DD2C8'"
            [innerStrokeColor]="'#56978E'"
            [animation]="true"
            [animationDuration]="800">
        </circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-3">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [title]="'MySql'"
            [titleFontSize]="'34'"
            [titleFontWeight]="'800'"
            [titleColor]="'rgb(212, 212, 212)'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#8DD2C8'"
            [innerStrokeColor]="'#56978E'"
            [animation]="true"
            [animationDuration]="800">
        </circle-progress>
    </div>
</div>