<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="foto">
        <img src="../../../assets/foto_p.png" class="img-fluid" id="foto_p">

        <div class="col-sm-12">
            <h1 id="nombre">Juana Miranda</h1>
            <h2 id="fsd">Jr. Full Stack Developer</h2>
        </div>

    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div id="prs">
            <h1 id="adm">Acerca de mí</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum blanditiis saepe nesciunt alias
                sapiente nam soluta rerum? Cum sequi nulla dicta molestias nihil nisi minus expedita voluptas, laborum
                maiores? Delectus!</p>
        </div>
    </div>

</div>